.brand-logo{
    margin-left: 2%;
}

.navbar-fixed{
    color: white;
    background-color: #222;
}
#slide-out{
    background-color: #111111;
}

#events_side_bar{
    background-color: #111111;
}

#slide-out li a{
color: teal;
}
.follow_links ul li {
    margin: 2%;
}
.follow_links ul li a{
    color: #1DE9C3;
}

/* navigation on hover animation*/

.nav_links {
    height: 90%;
}

.nav_links li{
    height: 90%;
}

.nav_links li:hover{
    color:#1DE9C3;
    border-bottom: 2px solid#1DE9C3;
}
.nav_links li a:hover{
    color: #1DE9C3;
}