.desktop, .laptop, .tablet, .mobile {
    margin: 0 auto 40px;
    position: relative;
    transition: all 0.25s ease;
}

.screen {
    background: #333;
    width: 100%;
}

.mobile {
    background: #111;
    width: 100px;
    height: 196px;
    border-radius: 15px;
    padding: 15px 7px;
}

.mobile .screen {
    height: 75%;
}

.mobile:before {
    content: " ";
    background: #222;
    display: block;
    width: 20px;
    height: 5px;
    margin: 0 auto 15px auto;
    border-radius: 2px;
}
.mobile:after {
    content: " ";
    display: block;
    background: #222;
    width: 20px;
    height: 20px;
    margin: 7px auto 8px;
    border-radius: 10px;
}

.tablet {
    display: block;
    background: #111;
    width: 295px;
    height: 380px;
    padding: 20px 25px;
    border-radius: 10px;
}

.tablet .screen {
    height: 88%;
}

.tablet:before {
    content: " ";
    background: #222;
    display: block;
    width: 5px;
    height: 5px;
    margin: 0 auto 15px auto;
    border-radius: 2px;
}

.tablet:after {
    content: " ";
    display: block;
    background: #222;
    width: 15px;
    height: 15px;
    margin: 11px auto 8px;
    border-radius: 10px;
}

.laptop {
    display: block;
    background: #111;
    width: 600px;
    height: 380px;
    padding: 30px 30px 10px;
    border-top-radius: 20px;
}

.laptop .screen {
    width: 100%;
    height: 90%;
}

.laptop:before {
    content: " ";
    background: #222;
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 48%;
    top: 10px;
    border-radius: 4px;
}

.laptop:after {
    content: " ";
    background: #666;
    display: block;
    width: 130%;
    position: relative;
    top: 20px;
    margin-left: -15%;
    height: 35px;
    border-bottom-radius: 10px;
}

@media (max-width : 1330px) {

    #app-develop-section .wrapper {
        transform: scale(0.5);
        left:-40px;
        top:23%;
    }

}

@media (max-width : 990px) {

    #app-develop-section .wrapper {
        transform: scale(0.3);
        left:-40px;
        top:20%;
    }

}

@media (max-width : 960px) {

    #app-develop-section {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    #app-develop-section .wrapper {
        width: 100%;
        transform: scale(0.4);
        top:-50px;
        left:-35px;
    }

    #app-develop-description {
        width : 100%;
        height: 50%;
        text-align: center;
        top : 50%;
        bottom: 0px;
    }

    #app-develop-description h1 {
        font-size: 2vh;
        padding-left: 20px;
        padding-right: 20px;
    }
}