/**
  @author : abhishek goswami
  abhishekg785
*/

html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
    /*overflow-x: hidden;*/
}

.page_header {
    position: fixed;
    top : 0px;
    left: 0px;
    margin:0 auto;
    width:100%;
    height: 60px;
    /*height : 10vh;*/
    display: block;
    z-index: 6;
    background: rgb(44, 44, 44);
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.nav-list {
    z-index: 3;
    text-transform: uppercase;
    /*font-size: 12px;*/
    font-size: 1vw;
    font-weight: 700;
    height : 60px;
    position:absolute;
    right:15px;
}

.nav-list_item {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display:table-cell;
    height: 60px;
    /*height : 10vh;*/
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

/*.nav-list_item:hover {*/
    /*!*background-color: white;*!*/
    /*color: rgb(255, 87, 34);*/
    /*!*border-bottom: 2px solid white;*!*/
/*}*/

.active-link {
    color: rgb(255, 87, 34) !important;
}

.deactive-link {
    color: white !important;
}

#button-section {
    position: absolute;
    bottom: 100px;
    z-index:5;
    width: 100%;
    text-align: center;
}

#button-section button {
    background-color: rgb(44, 44, 44);
    color: white;
    /*border: 2px solid rgb(255, 87, 34);*/
    border: 2px solid white;
    font-family: "Montserrat", sans-serif;
    /*text-transform: uppercase;*/
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    letter-spacing: 1px;
}

#button-section button:hover {
    background-color: white;
    color: rgb(44, 44, 44);
}

#info-section {
    position: absolute;
    z-index: 5;
    width:100%;
    top:49vh;
    z-index: 5;
    color:white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#info-section span {
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.1vw;
}

#info-section span:nth-child(1):hover {
    border-bottom: none;
}

#info-section span:nth-child(3) {
    border-right: none;
}

#info-section span:hover{
    border-bottom: 1px dashed white;
    cursor: pointer;
}

#info-section a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.section {
    position:relative;
    left: 0;
    top:0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.construction-demo {
    height:300px;
    width:100%;
    position: absolute;
    bottom:0px;
    z-index : 4;
    left:-30px;
}

/* css for the canvas of the construction part*/
.contruction-canvas {
    width:700px;
    height:238px;
    display:block;
    border-top:none;
    z-index:5;
    position: absolute;
    bottom:0px;
    left:0px;
}

.titleWrapper {
    /*border: 2px solid blue;*/
    position: absolute;
    margin: 0px;
    z-index: 5;
    left:0px;
    top:0px;
    text-align: center;
    width: 100%;
    color:white;
    background-color : transparent;
    /*border: 2px solid black;*/
}

.heading {
    position: relative;
    margin: 0px;
    font-size: 1.5vw;
    color: white;
    padding: 0px;
    line-height: 80px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    top:40px;
}

/*css for the contact section */
#contact-left-section {
    height:100%;
    width:30%;
    text-align: center;
    float: left;
    margin: 0px;
    background: rgb(44, 44, 44);
    /*border: 2px solid red;*/
}

#contact-right-section {
    height:100%;
    width: 70%;
    background-color: rgb(255, 87, 34);
    float: left;
    margin:0px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

#contact-right-section .email-section span a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

#contact-right-section .email-section span a:hover {
    border: 1px dashed white;
}

.locationSVG {
    position:absolute;
    height: 100%;
    width:50%;
    /*visibility:hidden;*/
    transform:translate(-50%, 0%);
    top:0px;
    /*border: 2px solid red;*/
}

/* css for the about section start here */
.about-section {
}

#about-description {
    width: 60%;
    height:100%;
    position: absolute;
    right:0px;
    color:rgb(44, 44, 44);
}

#about-description span {
    color: rgb(255, 87, 34);;
}

#about-description h1 {
    padding: 0px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-size: 1.6vw;
    position: relative;
    width: 100%;
    top :28%;
    padding-left: 20px;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#code-section {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top:0px;
    height:100%;
    width:40%;
    background: rgb(44, 44, 44);;
}

#code-section h1 {
    width: 100%;
    position: absolute;
    margin: 0px;
    z-index: 2;
    font-size: 1.5vw;
    color: white;
    padding: 0px;
    line-height: 80px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    top:35px;
}

#app-develop-section {
    height: 100%;
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    width: 40%;
}

#app-develop-section .wrapper {
    position:relative;
    left:-25px;
    top:25%;
    transform: scale(0.6);
}

#app-develop-description {
    position: absolute;
    right:0px;
    height: 100%;
    width:60%;
    background-color:rgb(44, 44, 44);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#app-develop-description h1{
    padding: 0px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-size: 2vw;
    position: relative;
    width: 100%;
    top :40%;
    padding-left: 20px;
    padding-right: 5px;
    /*text-align: center;*/
}

#app-develop-description span {
    color: rgb(255, 87, 34);
}

#about-description a {
    text-decoration: none;
    color : rgb(255, 87, 34);
}

/* FAQ asked here */
#faq-section {
    background-color:rgb(44, 44, 44);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow-y: auto;
    /*height: auto;*/
}

.qCard {
    /*display: block;*/
    margin: auto;
    position: relative;
    top:80px;
    margin-top: 15px;
    background: rgb(44, 44, 44);
    border: 4px solid white;
    width: 85%;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-size:1.1vw;
    /*font-family: Regular;*/
    color: rgb( 180, 180, 180);
    text-align: left;
    height: auto;
    word-wrap: all;
    cursor: pointer;
    border-radius: 4px;
}

#faq-section h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top : 65px;
    padding-bottom:20px;
    font-size: 1.5vw;
}

/* css for the typing effect */
.typing_effect {
    position: absolute;
    color : white;
    /*border: 2px solid white;*/
    width: 100%;
    margin: 0px;
    padding: 0px;
    top:58vh;
    z-index: 2;
    transition: all 1s ease;
}

.typing_effect h1 {
    width: 100%;
    text-align: center;
    height: 20px;
    /*border: 2px solid white;*/
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.typing-text {
    color: rgb(255, 87, 34);
}

/** footer section */
.footer {
    width: 100%;
    height: 30px;
    background-color:white;
    color : rgb(44, 44, 44);
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(255, 87, 34);
}

.footer span {
    color: red;
}

/** sponsor section comes here */

#sponsor-section {
    background-color:rgb(44, 44, 44);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    background-color: white;
}

#sponsor-section h1 {
    position: absolute;
    top : 65px;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    color : rgba(44, 44, 44);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.sponsor-logo-section {
    /*display:none;*/
    background: white;
    width: 100%;
    position: absolute;
    top:90px;
    left: 0px;
    height: 100%;
}

.sponsor-logo-section img {
    height: 5vw;
    /*max-width: 20%;*/
    /*max-height: 5%;*/
    margin-left: 30px;
    margin-right: 30px;
}

.sponsor-logo-section div {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/* apply form section */
.apply-form-section {
    height: 100%;
    width:100%;
    opacity: 0.7;
}

@media (max-width : 960px) {

    .sponsor-logo-section img {
        height: 6vw;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media (max-width: 420px) {

    .nav-list_item {
        font-size: 2em;
    }

    #info-section {
        top : 45vh;
    }

    #info-section span {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 2vw;
    }

    .typing_effect {
        top:52vh;
    }

    .typing_effect h1 {
        font-size: 0.6em;
    }

    #button-section button {
        width:100px;
        height: 35px;
        font-size: 10px;
    }

    .qCard {
        font-size: 0.5em;
    }
}

@media (max-width: 360px) {

    .nav-list_item {
        font-size: 1.5em;
    }
}