@import url("https://fonts.googleapis.com/css?family=Montserrat");

.titleWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top:-85px;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 80px;
    overflow: hidden;
    width: 100%;
    color: white;
}

.titleWrapper h1 {
    color: white;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    line-height: 80px;
    height: 80px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    word-space: 4em;
    letter-spacing: 0.05em;
    background-color: transparent;
}

.titleWrapper h1 span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    transition: all 0.25s cubic-bezier(0.65, 0, 0.21, 1.47) 0s;
}

.titleWrapper.ready h1 span {
    transform: translateY(0%);
}

h1.first span {
    background: #2c2c2c;
    position: relative;
    z-index: 5;
}

h1.second span {
    position: relative;
    z-index: 1;
}

h1.first span:nth-of-type(1) {
    transition-delay: 0.02s;
}

h1.second span:nth-of-type(1) {
    transition-delay: 0.08s;
}

h1.first span:nth-of-type(2) {
    transition-delay: 0.04s;
}

h1.second span:nth-of-type(2) {
    transition-delay: 0.11s;
}

h1.first span:nth-of-type(3) {
    transition-delay: 0.06s;
}

h1.second span:nth-of-type(3) {
    transition-delay: 0.14s;
}

h1.first span:nth-of-type(4) {
    transition-delay: 0.08s;
}

h1.second span:nth-of-type(4) {
    transition-delay: 0.17s;
}

h1.first span:nth-of-type(5) {
    transition-delay: 0.1s;
}

h1.second span:nth-of-type(5) {
    transition-delay: 0.2s;
}

h1.first span:nth-of-type(6) {
    transition-delay: 0.12s;
}

h1.second span:nth-of-type(6) {
    transition-delay: 0.23s;
}

h1.first span:nth-of-type(7) {
    transition-delay: 0.14s;
}

h1.second span:nth-of-type(7) {
    transition-delay: 0.26s;
}

h1.first span:nth-of-type(8) {
    transition-delay: 0.16s;
}

h1.second span:nth-of-type(8) {
    transition-delay: 0.29s;
}

h1.first span:nth-of-type(9) {
    transition-delay: 0.18s;
}

h1.second span:nth-of-type(9) {
    transition-delay: 0.32s;
}

h1.first span:nth-of-type(10) {
    transition-delay: 0.2s;
}

h1.second span:nth-of-type(10) {
    transition-delay: 0.35s;
}

h1.first span:nth-of-type(11) {
    transition-delay: 0.22s;
}

h1.second span:nth-of-type(11) {
    transition-delay: 0.38s;
}

h1.first span:nth-of-type(12) {
    transition-delay: 0.24s;
}

h1.second span:nth-of-type(12) {
    transition-delay: 0.41s;
}

h1.first span:nth-of-type(13) {
    transition-delay: 0.26s;
}

h1.second span:nth-of-type(13) {
    transition-delay: 0.44s;
}

h1.first span:nth-of-type(14) {
    transition-delay: 0.28s;
}

h1.second span:nth-of-type(14) {
    transition-delay: 0.47s;
}

h1.first span:nth-of-type(15) {
    transition-delay: 0.3s;
}

h1.second span:nth-of-type(15) {
    transition-delay: 0.5s;
}

h1.first span:nth-of-type(16) {
    transition-delay: 0.32s;
}

h1.second span:nth-of-type(16) {
    transition-delay: 0.53s;
}

h1.first span:nth-of-type(17) {
    transition-delay: 0.34s;
}

h1.second span:nth-of-type(17) {
    transition-delay: 0.56s;
}

h1.first span:nth-of-type(18) {
    transition-delay: 0.36s;
}

h1.second span:nth-of-type(18) {
    transition-delay: 0.59s;
}

h1.first span:nth-of-type(19) {
    transition-delay: 0.38s;
}

h1.second span:nth-of-type(19) {
    transition-delay: 0.62s;
}

.titleWrapper.ready:hover h1.first span {
    transform: translateY(-100%);
}

.titleWrapper.ready:hover h1.second span {
    transform: translateY(-100%);
}
